@use './variables' as *;
@use './mixins' as mixins;

.weather-wrapper {
  padding: $padding;
  background-color: $bg-color;
  color: $font-color;
  text-align: center;
  min-height: 100vh;

  @include mixins.card-style;

  input {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
  }

  @media (max-width: 600px) {
    input,
    button {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}
