@use './variables' as vars;
@use './mixins' as mixins;
@use 'sass:color';
@use 'sass:math';

.weatherWrapper {
  max-width: vars.$max-width;
  background-color: vars.$primary-color;
  color: vars.$text-color;
  border-radius: vars.$border-radius;
  padding: vars.$spacing;
  border: 1px solid color.adjust(vars.$primary-color, $lightness: 20%);

  @include mixins.respond-to-mobile {
    max-width: 80%;
    padding: math.div(vars.$spacing, 2);
  }
}

.card {
  text-align: center;
  padding: vars.$spacing;
  background-color: color.adjust(vars.$primary-color, $lightness: -10%);
  border-radius: vars.$border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
